.card {
  max-width: toRem(322px);
  width: 100%;
  height: toRem(252px);
  position: relative;
  img {
    height: toRem(213px);
    width: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
  }
  &__star {
    position: absolute;
    z-index: 1;
    top: toRem(-4px);
    left: toRem(-5px);
    width: toRem(33px);
    height: toRem(30px);
    display: flex;
    place-items: center;
    border-bottom-right-radius: 8px;
    border: none;
    cursor: pointer;
    &--yellow {
      color: $yellow;
    }
    &--black {
      color: $black;
    }
  }
  &__text {
    width: 100%;
    height: toRem(112px);
    background-color: $white;
    position: absolute;
    z-index: 1;
    top: toRem(140px);
    border-radius: 0 0 8px 8px;
    padding: toRem(12px) toRem(12px) toRem(16px) toRem(12px);
    display: flex;
    flex-direction: column;
    &__category {
      @include text-style(toRem(10px), 1.6, $blue, toRem(-0.02px));
      text-transform: uppercase;
      padding-bottom: toRem(2px);
    }
    &__title {
      @include text-style(toRem(16px), 1.25, $black, toRem(-0.11px));
      max-width: 100%;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
    &__author {
      @include text-style(toRem(12px), 1.17, $dark-grey, toRem(-0.07px));
      margin-top: auto;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
    }
  }
  @media (max-width: toRem(768px)) {
    max-width: toRem(343px);
    height: toRem(260px);
    img {
      height: toRem(226.3px);
    }
    &__text {
      height: toRem(92px);
      top: toRem(167px);
      padding: toRem(15px) toRem(46.04px) toRem(19px) toRem(17px);
      &__author {
        display: none;
      }
    }
  }
}
