.latest {
  background: #ffffff;
  box-shadow: 0px 1px 2px -1px #c8cad1;
  border-radius: 8px;
  width: toRem(321px);
  padding-top: toRem(18px);
  padding-left: toRem(15px);
  grid-column: -1;
  grid-row: -1 / span 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__header {
    padding-bottom: toRem(6px);
    img {
      animation: blink 3s linear infinite;
      padding-right: toRem(10px);
    }
    h2 {
      font-size: toRem(16px);
      line-height: 1.25;
      letter-spacing: toRem(-0.11px);
      color: $black;
    }
  }
  &__infinite-container {
    overflow-y: scroll;
    max-height: 432px;
    &::-webkit-scrollbar {
      width: 4px;
      background-color: #f5f5f5;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.237981);
      border-radius: 2px;
      width: 4px;
      height: 68px;
    }
    .date {
      padding-top: toRem(13px);
      font-size: toRem(10px);
      line-height: 1.6;
      color: $blue;
    }
    .subtitle {
      font-size: toRem(16px);
      padding: toRem(3px) 0 toRem(13px) 0;
      line-height: 1.25;
      letter-spacing: toRem(-0.11px);
      color: $black;
      max-width: toRem(281px);
    }
    .smaller-line {
      border: 1px solid #f4f5f8;
      max-width: toRem(290px);
    }
  }
  &__bottom {
    padding: toRem(15px) 0;
    &__paragraph {
      color: $blue;
      font-size: toRem(14px);
      line-height: 1.43;
      letter-spacing: toRem(-0.09625px);
    }
    &__arrow {
      padding-left: toRem(2px);
    }
  }

  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  @media (max-width: toRem(425px)) {
    padding-right: toRem(15px);
    &__infinite-container {
      // firefox
      scrollbar-width: none;
      // chrome, safari
      &::-webkit-scrollbar {
        width: 0;
        background-color: 0;
      }
    }
  }
}
