.modal {
  display: flex;
  align-items: center;
  position: relative;
  min-height: toRem(60px);
  background: $linear-dark-orange;
  overflow: hidden;
  &__heading {
    padding: toRem(10px) toRem(46px) toRem(10px) 0;
    @include text-style(toRem(16px), 1.31, $white, toRem(-0.136px));
  }
  img {
    height: 100%;
    position: absolute;
    top: 0;
    left: toRem(401px);
  }
  &__paragraph {
    @include text-style(toRem(14px), 1.5, $white, toRem(-0.119px));
    padding-right: toRem(273px);
  }
  &__no-thanks {
    @include text-style(toRem(14px), 1.43, $white);
    cursor: pointer;
    z-index: 1;
  }

  @media (max-width: toRem(768px)) {
    display: none;
  }
}
