.search {
  display: flex;
  align-items: center;
  padding-top: toRem(35px);
  padding-bottom: toRem(28px);
  h1 {
    padding-right: toRem(43px);
    @include text-style(toRem(32px), 1.22, $dark-grey);
  }
  &__container {
    position: relative;
    color: #a5a5a4;
    display: flex;
    align-items: center;
    width: toRem(725px);
    &__icon {
      position: absolute;
      left: toRem(15px);
    }
    input {
      height: toRem(50px);
      padding-left: toRem(50px);
      @include text-style(toRem(15px), 1.33, $dark-grey);
      background-color: $white;
      box-shadow: 0px 1px 2px -1px #c8cad1;
      border-radius: 10px;
      border: none;
      &::placeholder {
        color: $dark-grey;
        mix-blend-mode: normal;
        opacity: 0.4;
      }
      &:focus {
        outline: none;
        border: none;
      }
    }
  }

  @media (max-width: toRem(768px)) {
    padding-top: toRem(24px);
    padding-bottom: toRem(32px);
    flex-direction: column;
    align-items: flex-start;
    &__container {
      width: 100%;
      &__icon {
        width: toRem(16px);
        height: toRem(16px);
      }
      input {
        height: toRem(48px);
        letter-spacing: toRem(-0.2px);
      }
    }
    h1 {
      font-size: toRem(24px);
      padding-right: 0;
      padding-bottom: toRem(20px);
    }
  }
}

.line {
  mix-blend-mode: normal;
  opacity: 0.1;
  border: 1px solid #979797;
  @media (max-width: toRem(768px)) {
    display: none;
  }
}
