.homepage {
  width: 80%;
  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(322px, 1fr));
    padding-right: 164px;
    gap: toRem(21px);
  }
  &__small-screens {
    display: none;
  }

  @media (max-width: toRem(1100px)) {
    &__cards {
      gap: toRem(16px);
    }
  }
  @media (max-width: toRem(768px)) {
    width: 100%;
    &__cards {
      display: none;
    }
    &__small-screens {
      display: block;
      &__tabs {
        display: flex;
        justify-content: center;
        padding-bottom: toRem(16px);
        .tab {
          font-family: "Inter var", sans-serif;
          font-weight: 600;
          font-size: toRem(16px);
          line-height: 1.25;
          letter-spacing: toRem(-0.0246154px);
          margin-right: 16px;
          border: none;
          &--active {
            color: $dark-orange;
            padding: toRem(10px) toRem(16px);
            background: #bb1e1e1a;
            border-radius: 20px;
          }
          &--not-active {
            background: none;
          }
        }
      }
      &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: toRem(16px);
      }
      &__latest {
        display: flex;
        justify-content: center;
      }
    }
  }
}
