$dark-grey: #1d1d1b;
$dark-orange: #bb1e1e;
$linear-dark-orange: linear-gradient(180deg, #bb1e1e 71.29%, #b21919 99.95%);
$light-grey: #f2f2f2;
$white: #ffffff;
$black: #000000;
$blue: #1e71bb;
$yellow: #ffff66;

.clr-white {
  color: white;
}

.clr-dark-orange {
  color: $dark-orange;
}

.input-bg {
  background: #ffffff;
  box-shadow: 0px 1px 2px -1px #c8cad1;
  border-radius: 10px;
  border: none;
  &:focus {
    outline: none;
    border: none;
  }
}
